header h1 {
  font-size: 35px;
  margin: 20px;
  display: inline-block;
}

nav,
nav ul {
  float: right;
  margin: 10px;
}

.list {
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: chocolate;
}
#rest {
  margin: 25px;
  font-size: 25px;
}
ul li {
  margin-top: 10;
  margin-left: 30px;
  list-style-type: disc;
}
